# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Mac folder config
.DS_Store

# CI
node_modules/

# Chrome packaging
omnibug.pem

# Build output
build/

# Deployment details
deploy.key
deploy.json
