@import "../assets/styles/base";

body {
  min-width: 800px;
  max-width: 1000px;
  margin: 0 auto;
  background-color: $body-background-color;
}
label.radio {
  display: block;
  margin: 3px 0;
}
body > header {
  padding: 1em 0;
  text-align: center;
}
body > header img,
body > header h1 {
  display: inline-block;
}
body > header img {
  vertical-align: middle;
}
body > header h1 {
  margin: 0 0 0 20px;
}
body > header .help {
  padding-top: 0.25em;
  font-size: 1em;
}

form {
  border: 1px solid #EDEDED;
  background-color: #FFF;
  box-shadow: 0 0 9px 0 #DDD;
}
fieldset {
  margin: 0;
  padding: 1em;
  border: 0;
  border-top: 1px solid #EDEDED;
  transition: background-color 0.4s ease;
}
fieldset:hover {
  background-color: #FAFAFA;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
fieldset {
  min-height: 40px;
}
.col-label, fieldset > .row > label {
  min-width: 200px;
  font-weight: 600;
}
.col {
  flex: 1;
}
.help {
  font-size: .8em;
  padding: 0;
  margin: .5em 0 0;
  color: #999;
}

#highlight-params {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#highlight-params li {
  display: inline-block;
  padding: .25em .25em .25em .5em;
  border: 1px solid #E8E8E8;
  border-radius: 5px;
  margin: 0.25em;
}
#highlight-params li .remove {
  float: right;
  cursor: pointer;
  padding: 0.1em 0.25em;
  margin-left: 1em;
  color: #AAA;
}
#highlight-params li .remove:hover {
  color: #333;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  line-height: 1.2em;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  color: #444;
  margin-bottom: 1em;
}
input[type="text"]:focus {
  outline: none;
}
::placeholder {
  color: #bbb;
}
#providers-list details {
  border-bottom: 1px solid $border-color;
}
#providers-list details:last-of-type {
  border-bottom: 0;
}
#providers-list details > summary {
  padding: .2em .2em .2em .5em;
  cursor: pointer;
  font-weight: bold;
}
#providers-list details label:first-of-type {
  margin-top: .2em;
}
#providers-list label[data-provider] {
  padding: .1em;
  margin-left: 1em;
}
#providers-list label[data-provider] input[type="checkbox"] {
  margin-right: .5em;
}
#providers-list.searching details > summary {
  opacity: .5;
}
.provider {
  cursor: pointer;
  margin-bottom: 3px;
}

.color input[type="color"] {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  min-width: 2.25em;
  height: 2.25em;
}
.color .col {
  display: flex;
  align-items: center;
}
.color input[type="color"]:focus {
  outline: 0;
}
.color .example {
  padding: 0.25em 0;
  margin-left: 0.5em;
  width: 5em;
  display: inline-block;
  text-align: center;
  border-radius: 3px;
}
#reset,
#reset-defaults {
  transition: background-color 0.4s ease, color 0.4s ease;
}
#reset-defaults:focus,
#reset-defaults:hover {
  background-color: #f13e3e;
  color: #fff;
}
button {
  color: #999;
  border: 1px solid #e8e8e8;
  padding: 0.5em;
  border-radius: 3px;
  background-color: #fff;
}
#reset-defaults {
  color: #ff8b8b;
  border-color: #ff8b8b;
}
#reset .help {
  transition: color 0.4s ease;
}
#reset:hover {
  color: #f13e3e;
  background-color: #ffeded;
}
#reset:hover .help {
  color: #f13e3e;
}
script[type="text/html"] {
  display: none;
}
footer p {
  text-align: center;
  color: #ccc;
}