@import "../assets/styles/base";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "../assets/styles/icons";

html, body {
  height: 100%;
}
body {
  font-size: $font-size;
  margin: 0 auto;
  color: $body-font-color;
  background-color: $body-background-color;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
body > header, nav.navbar {
  width: 100%;
  height: 37px;
}
body > main {
  overflow-y: auto;
  overflow-x: hidden;
  flex: 1;
  display: flex;
  flex-direction: column;
}
body > main > section {
  flex: 1;
}
body > main > footer {
  width: 100%;
  text-align: center;
  color: #999;
}
body > main > footer p {
  margin: 0;
  padding: .4em 0;
}
body > main > footer a {
  color: lighten($primary-color, 15%);
}
details > summary {
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;
}
nav.navbar {
  background: $white;
  border-bottom: 1px solid $border-color;

  .navbar-section:last-of-type a.btn {
    border-left: 1px solid #eee;
  }

  .btn.btn-link {
    color: $primary-color;
  }

  .btn.btn-link:hover {
    color: $primary-color-dark;
  }
}
#no-requests {
  animation: fadein 2s;
  background-color: transparent;
}
.request {
  width: 100%;
  padding: 0 5px;

  > summary {
    padding: 5px;
    position: sticky;
    top: 0;
    z-index: 100;

    .container {
      height: 21px;
      margin-top: -1.5em;
      margin-left: .75em;
    }

    .column {
      @include hide-overflow;
    }
  }

  > div {
    font-size: .9em;
    padding: 1em;
  }

  table td,
  table th {
    padding: .2rem .1rem;
    word-break: break-all;
  }

  .redirected:hover .redirect-icon,
  .redirected:focus .redirect-icon {
    color: red;
  }
  &:nth-of-type(odd) {
    background-color: $body-background-color;
    &.request-error > summary {
      background-color: $warning-color-background;
    }
  }
  &:nth-of-type(even) {
    background-color: darken($body-background-color, 5%);
    &.request-error > summary {
      background-color: darken($warning-color-background, 5%);
    }
  }
  &.request-error {
    > summary {
      color: $dark-warning-color-background;
    }
    .request-note {
      margin-top: 0.4rem;
    }
  }

}
@keyframes request-highlight-odd {
  0% {
    background: lighten($primary-color-light, 7%);
  }
  100% {
    background: $body-background-color;
  }
}
@keyframes dark-request-highlight-odd {
  0% {
    background: #555;
  }
  100% {
    background: $dark-body-background-color;
  }
}
@keyframes request-highlight-even {
  0% {
    background: lighten($primary-color-light, 3%);
  }
  100% {
    background: darken($body-background-color, 5%);
  }
}
@keyframes dark-request-highlight-even {
  0% {
    background: #555;
  }
  100% {
    background: darken($dark-body-background-color, 5%);
  }
}
.request:nth-of-type(odd):not([open]) {
  animation: request-highlight-odd 1.2s;
}
.request:nth-of-type(even):not([open]) {
  animation: request-highlight-even 1.2s;
}
.request[open],
.request[open] > summary {
  border-bottom: 1px solid #dedede;
}
.request[open] > summary {
  background-color: $primary-color-light;
}
.request:not(.redirected) .redirect {
  display: none;
}
.request:not(.multipled) .multiple {
  display: none;
}
.request.redirected {
  .redirect-icon {
    margin-left: .5em;
    color: $gray-color;
  }
  .request-note {
    margin-top: 0.4rem;
  }
}
.request.redirected:hover {
  .redirect-icon {
    color: $warning-color;
  }
}
.request.request-error {
  .request-error-icon {
    margin-left: 0.25rem;
  }
  .request-error-message {
    padding: 0.15rem 0.25rem;
    border: 0;
    background: $dark-warning-color-background;
    color: white;
  }
}
.request.multipled {
  .multiple-icon {
    margin-left: .5em;
    color: $gray-color;
  }
  .request-note {
    margin-top: 0.4rem;
  }
}
.request.redirected:hover {
  .redirect-icon {
    color: $warning-color;
  }
}
.request-details {
  > summary {
    font-weight: 600;
    font-size: 1.1em;
    padding: .3em .3em .3em .5em;
    position: sticky;
    top: 2.2em;
    background-color: $bg-color-dark;
    border: 1px solid #ddd;
    border-bottom: 0;
    z-index: 2;
  }
  table {
    border: 1px solid $border-color;
    border-bottom: 0;
    border-collapse: initial;
    table-layout: fixed;
  }
  tbody > tr > td:first-of-type {
    width: 14em;
    font-weight: 600;
    padding-left: .3em;
    &::after {
        content: " ";
        width: 5px;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        cursor: w-resize;
        border-right: 1px solid rgba(0, 0, 0, 0.1);
    }
  }
  .parameter-value {
      padding-left: 5px;
      padding-right: 5px;
  }
}
.request-details:last-of-type {
  > summary {
    border-bottom: 1px solid #ddd;
  }
}
.request-details[open] {
  > summary { 
    border-bottom: 0;
  }
}
.request summary .label {
  display: block;
  float: left;
  font-size: .8em;
  margin-right: .5em;
  padding: .35em;
  width: 220px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}
.request-note {
  input {
    height: 1.4rem;
    padding: 0.1rem 0.2rem;
    background: none;
    border: 0;
  }
  input:hover, .request-note input:focus {
    background: $white;
    transition: background 0.5s linear;
  }
}
.parameter-key, .parameter-field {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#requests .navigation {
  @include hide-overflow;
  width: 100%;
  padding: .3em 2em;
  background-color: $white;
  font-size: .9em;
  color: #AAA;
  border-top: 1px solid $border-color;
}
#requests .navigation:hover {
  color: #555;
}
#requests .navigation:first-of-type {
  border-top: 0;
}
.modal.modal-lg .modal-container {
  max-height: none;
}
.modal-header {
  padding-bottom: 0;
}
.modal-footer {
  padding-top: 0;
}
.modal {
  .btn.btn-clear {
    &:focus, &:hover {
      color: $primary-color;
      background: none;
    }
  }
}
#filter-modal {
  .modal-container {
    height: 90vh;
  }
  .modal-body {
    padding-top: 0;
    flex: 1;
  }
  .modal-footer {
    padding: 0.5rem;
  }
}
#filter-providers {
  list-style-type: none;
  margin-top: 0;
  input {
    margin-right: .5em;
  }
  label .fa-exclamation-triangle {
    margin-left: 1em;
    color: $warning-color-dark;
  }
}
#provider-select-all-wrapper {
  margin: 0.8rem 0 0 0.8rem;
  border-bottom: 1px solid $border-color;
  padding-bottom: .2rem;
  font-weight: bold;
}
.filters-active [data-target-modal="filter-modal"] {
  color: #FF9800 !important;
}
body:not(.persist-disabled) #persist-enable,
body.persist-disabled #persist-disable {
  display: none;
}
#persist-enable { color: #F44336; }
tr[data-parameter-key] td {
  position: relative;
}
.context-menu.menu {
  z-index: 9999;
  position: absolute;
  width: max-content;
  font-weight: normal;
  .menu-item > a:focus, .menu-item > a:hover {
    color: #fff;
  }
}

/* Default colors, can be overridden in settings*/
[data-request-type] { background-color: #f1ffdb; }
[data-request-type="Page View"] { background-color: #dbedff; }
details.request.redirected [data-request-type] { background-color: #eeeeee; }
.request .table-hover tbody tr:hover > summary { background-color: #cccccc; }

#toasts {
  position: fixed;
  bottom: .5rem;
  right: 1.25rem;
  z-index: 300;
}
#toasts .toast {
  padding: .25rem .25rem .25rem .35rem;
  margin-top: .25rem;
}


span {
  &[title]::before {
    padding: 0.5em;
    vertical-align: sub;
  }

  @each $title, $path in $icons {
    @include iconRule($title, $path)
  }
}

body.dark {
  background-color: $dark-body-background-color;
  color: $dark-body-font-color;
  .empty {
    color: $dark-body-font-color;
  }


  /* Default colors, can be overridden in settings*/
  [data-request-type] { background-color: #AED581; color: #333; }
  [data-request-type="Page View"] { background-color: #90CAF9; }
  details.request.redirected [data-request-type] { background-color: #333; color: #999; }

  .table.table-striped tbody tr:nth-of-type(odd) {
    background-color: #2a2a2a;
  }

  nav.navbar {
    background-color: $dark-body-background-alt-color;
    border-bottom: 1px solid $dark-body-background-color;
    .navbar-section:last-of-type a.btn {
      border-left: 1px solid $dark-body-background-color;
    }
  }

  .request:nth-of-type(odd) {
    background-color: $dark-body-background-color;
    &.request-error > summary {
      background-color: $dark-warning-color-background;
    }
  }
  .request:nth-of-type(even) {
    background-color: darken($dark-body-background-color, 5%);
    &.request-error > summary {
      background-color: darken($dark-warning-color-background, 5%);
    }
  }
  .request.request-error > summary {
    color: $warning-color-background;
  }

  .request:nth-of-type(odd):not([open]) {
    animation: dark-request-highlight-odd 1.2s;
  }
  .request:nth-of-type(even):not([open]) {
    animation: dark-request-highlight-even 1.2s;
  }
  #requests .navigation {
    background-color: $dark-body-background-alt-color;
    border-top: darken($dark-body-background-color, 10%);
  }
  .request-details table {
    border-color: #111;
  }
  .request-details table td {
    border-bottom: 0;
  }
  .request .table-hover tbody tr:hover {
    background-color: #555;
    color: #ddd;
  }
  .request tbody > tr > td:first-of-type {
      border-right: 1px solid rgba(255, 255, 255, 0.1);
  }

  .request-details > summary {
    background-color: #3a3a3a;
    color: #2dd4c7;
    border-color: #111;
  }
  .request[open] > summary {
    background-color: rgba(47, 132, 218, 0.75);
    color: #eee;
  }
  .request[open], .request[open] > summary {
    border-color: #000;
  }

  .request-error-message {
    background: $dark-warning-color-background;
    color: $warning-color-background;
  }

  .request-note input:hover,
  .request-note input:focus {
    background: lighten($dark-body-background-alt-color, 15%);
  }

  .modal-container {
    background-color: $dark-body-background-alt-color;
  }
  .modal {
    .btn.btn-clear {
      color: #999;
      &:focus, &:hover {
        color: $primary-color;
        background: none;
      }
    }
  }

  .form-input {
    background-color: $dark-body-background-color;
    color: #ccc;
    border: 1px solid #444;
  }

  .form-input::placeholder {
    color: #666;
  }
  button.btn {
    background-color: $primary-color-dark;
    color: #ccc;
  }
  .filters-active [data-target-modal="filter-modal"] {
    color: #f27839 !important;
  }
  .modal-title {
    color: #2dd4c7;
  }

  .context-menu.menu {
    background-color: #111;
    color: #999;
    .divider {
      border-color: #333;
    }
    .divider[data-content]::after, .divider-vert[data-content]::after {
      background: #111;
      color: #999;
    }
    .menu-item > a:focus, .menu-item > a:hover {
      background: rgba(47, 132, 218, 0.75);
      color: #ddd;
    }
  }

  .toast {
    &.toast-primary {
      @include toast-variant($primary-color-dark);
    }
    &.toast-success {
      @include toast-variant($success-color-dark);
    }
    &.toast-warning {
      @include toast-variant($warning-color-dark);
    }
    &.toast-error {
      @include toast-variant($error-color-dark);
    }
    button.btn.btn-clear {
      background: none;
    }
    color: #ddd;
  }

  ::-webkit-scrollbar {
    width: 15px;
    background-color: $dark-body-background-color;
    border: 1px solid #4b4b4b;
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #333;
  }
  ::-webkit-scrollbar-thumb {
    background-color: darken($dark-body-background-color, 5%);
  }
}
