/*
 * $Id$
 * $URL$
 */

.hilite {
    background-color: #ff0;
}

dt {
    font-weight: bold;
}

p {
    margin: 0;
    line-height: 16px;
}

div.hid {
    background-color: #ccc;
    display: none;
}

table.req {
    width: 100%;
}
td {
    vertical-align: top;
    border-bottom: 1px solid #aaa;
}
td.exp {
    width: 50px;
    text-align: center;
    line-height: 20px;
    padding: 0 5px;
}
a img {
    border: 0;
}

