/*
 * $Id$
 * $URL$
 */

table.req .hilite {
    background-color: #ff0;
}

table.req dt {
    font-weight: bold;
}

table.req p {
    margin: 0;
    line-height: 16px;
}

table.req div.hid {
    background-color: #ccc;
    display: none;
}

table.req {
    width: 100%;
}

table.req td {
    vertical-align: top;
    border-bottom: 1px solid #aaa;
}

table.req td.exp {
    width: 1px;
    text-align: center;
    line-height: 20px;
    padding: 0 5px;
}

table.req a img {
    border: 0;
}

p.om {
    margin: 0;
}
