$iconPath: "../assets/images/icons/";

$icons: (
    "6Sense": $iconPath + "SIXSENSE16x16.png",
    "Adform": $iconPath + "ADFORM16x16.png",
    "Adobe Analytics": $iconPath + "ADOBEANALYTICS16x16.png",
    "Adobe Audience Manager": $iconPath + "ADOBEAUDIENCEMANAGER16x16.png",
    "Adobe Experience Cloud ID": $iconPath + "ADOBEAUDIENCEMANAGER16x16.png",
    "Adobe Dynamic Tag Manager": $iconPath + "ADOBEDYNAMICTAGMANAGER16x16.png",
    "Adobe Heartbeat": $iconPath + "ADOBEHEARTBEAT16x16.png",
    "Adobe Launch": $iconPath + "ADOBELAUNCH16x16.png", 
    "Adobe Launch China Node": $iconPath + "ADOBELAUNCH16x16.png", 
    "Adobe Target": $iconPath + "ADOBETARGET16x16.png",
    "Adobe Experience Platform Web SDK": $iconPath + "ADOBEWEBSDK16x16.png",
    "Amazon Ad Tag": $iconPath + "AMAZONADTAG16x16.png",
    "Amplitude": $iconPath + "AMPLITUDE16x16.png",
    "AT Internet": $iconPath + "ATINTERNET16x16.png",
    "Bing Ads": $iconPath + "BINGADS16x16.png",
    "Braze": $iconPath + "BRAZE16x16.png",
    "Brevo": $iconPath + "BREVO16x16.png",
    "Comscore": $iconPath + "COMSCORE16x16.png",
    "Crazy Egg": $iconPath + "CRAZYEGG16x16.png",
    "Criteo OneTag": $iconPath + "CRITEOONETAG16x16.png",
    "Demandbase Engagement": $iconPath + "DEMANDBASEENGAGEMENT16x16.png",
    "Dynamic Yield": $iconPath + "DYNAMICYIELD16x16.png",
    "Ensighten Manage": $iconPath + "ENSIGHTEN16x16.png",
    "Facebook Pixel": $iconPath + "FACEBOOK16x16.png",
    "FullStory": $iconPath + "FULLSTORY16x16.png",
    "Glassbox": $iconPath + "GLASSBOX16x16.png",
    "Google Ads": $iconPath + "GOOGLEADS16x16.png",
    "Google Universal Analytics": $iconPath + "GOOGLEANALYTICS16x16.png",
    "Google Analytics 4": $iconPath + "GOOGLEANALYTICS16x16.png",
    "Google DoubleClick": $iconPath + "DOUBLECLICK16x16.png",
    "Google Tag Manager": $iconPath + "GOOGLETAGMANAGER16x16.png",
    "Hotjar": $iconPath + "HOTJAR16x16.png",
    "Hubspot": $iconPath + "HUBSPOT16x16.png",
    "Indicative": $iconPath + "INDICATIVE16x16.png",
    "LinkedIn Conversion": $iconPath + "LINKEDINPIXEL16x16.png",
    "Lytics": $iconPath + "LYTICS16x16.png",
    "Matomo": $iconPath + "MATOMO16x16.png",
    "Medallia DXA": $iconPath + "MEDALLIADXA16x16.png",
    "Mparticle": $iconPath + "MPARTICLE16x16.png",
    "Microsoft Clarity": $iconPath + "MSCLARITY16x16.png",
    "Optimizely X": $iconPath + "OPTIMIZELY16x16.png",
    "Outbrain": $iconPath + "OUTBRAIN16x16.png",
    "Parse.ly": $iconPath + "PARSELY16x16.png",
    "Pinterest Conversion": $iconPath + "PINTEREST16x16.png",
    "Piwik PRO": $iconPath + "PIWIKPRO16x16.png",
    "Piwik PRO Tag Manager": $iconPath + "PIWIKPRO16x16.png",
    "Reddit Pixel": $iconPath + "REDDITPIXEL16x16.png",
    "RTB House": $iconPath + "RTBHOUSE16x16.png",
    "RudderStack": $iconPath + "RUDDERSTACK16x16.png",
    "Segment": $iconPath + "SEGMENT16x16.png",
    "Snapchat": $iconPath + "SNAPCHAT16x16.png",
    "SplitIO": $iconPath + "SPLITIO16x16.png",
    "Teads": $iconPath + "TEADS16x16.png",
    "Tealium iQ": $iconPath + "TEALIUM16x16.png",
    "Tealium EventStream": $iconPath + "TEALIUM16x16.png",
    "The Trade Desk": $iconPath + "THETRADEDESKUNIVERSAL16x16.png",
    "TikTok": $iconPath + "TIKTOK16x16.png",
    "Twitter Conversion": $iconPath + "TWITTERPIXEL16x16.png",
    "Zemanta": $iconPath + "ZEMANTA16x16.png"
);

@mixin iconRule($title, $path) {
    &[title="#{$title}"]::before {
       content: url($path);
     } 
}



    


